.expenses-container {
    padding: 20px;
}

.expense-title{
    color: #b88d00; 
    margin-bottom: 20px;
}

.filter-section {
    margin: 20px 0;
}

.filter-section h3 {
    color: #b88d00;
}

.filter-controls {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    flex-wrap: wrap;
}

.filter-controls label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 500;
    color: #b88d00;
}

.filter-controls input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.filter-controls button {
    border: 2px solid transparent;
}
.filter-controls button:hover {
    border: 2px solid #b88d00;
}

.filter-button {
    padding: 8px 16px;
    background-color: #b88d00;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.filter-button:hover {
    background-color: #16213e;
    color: rgb(184, 182, 182);
}

.filter-info {
    margin: 10px 0;
    padding: 10px;
}

.form-input {
    height: 40px; 
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box; 
}
.form-input:focus {
    border-color: #b88d00;
    outline: none;
}
.expense-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.expense-table th {   
    font-weight: bold;              
    color: #b88d00;                 
}
.expense-table tbody tr:hover {
    background: linear-gradient(90deg, #1a1a2e, #16213e); 
    cursor: default;
}

.expense-table button {
    padding: 6px 12px;              
    margin-right: 5px;              
    border: 2px solid transparent;                   
    border-radius: 3px;             
    cursor: pointer;                
}

.expense-table button:hover {
    border: 2px solid #b88d00;
}
.expense-table th:last-child{
    width: 150px;
    min-width: 120px;
    text-align: center; 
}

.expense-table td:last-child {
    width: 150px;
    min-width: 120px;
    text-align: right; 
}