.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 10px 0;
    width: 100%;
}

.chart-card {
    background: #16213e;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 250px; 
}

.bar-chart-container .chart-title {
    color: white;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 1rem; 
    font-weight: 600;
}

.bar-chart-container .chart-subtitle {
    font-size: 0.9rem; 
    opacity: 0.8;
    margin-top: 5px;
}

.bar-chart-container .chart-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pie-chart-container .chart-title {
    color: white;
    text-align: center;
    margin: 0 0 15px 0;
    font-size: 0.9rem; 
    font-weight: 600;
}

.pie-chart-container .chart-subtitle {
    font-size: 0.8rem; 
    opacity: 0.8;
    margin-top: 5px;
}

.pie-chart-container .chart-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-no-data {
    color: white;
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.7;
}

.chart-no-data small {
    font-size: 0.8rem;
}
.month-select,
.year-select {
    padding: 2px;
    border: 1px solid #e6b325;
    border-radius: 4px;
    background-color: #1a2647;
    color: #ffffff;
    font-size: 0.9rem;
    cursor: pointer;
}
.month-select option,
.year-select option {
    background-color: #16213e; 
    color: #ffffff; 
}
.date-selector {
    display: flex;
    align-items: center;
    margin: 5px;
}
.balance-summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #16213e;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.balance-summary p{
    color: white;
}

@media (max-width: 768px) {
    .dashboard-grid {
    grid-template-columns: 1fr;
    }
}