.modal-overlay {
    position: fixed;
    top: 0;        
    left: 0;         
    right: 0;       
    bottom: 0;      
    background-color: rgba(0, 0, 0, 0.5); /* Dark background */
    display: flex; 
    justify-content: center;
    align-items: center;    
    z-index: 1000;
    animation: modalFadeIn 0.3s ease-out; /* Started animation */
}

.modal-content {
    background: #16213e; 
    border: 1px solid #334155; 
    border-radius: 12px; 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3); 
    width: 90%; /* On mobiles */
    max-width: 500px; 
    max-height: 90vh; 
    overflow-y: auto; 
    animation: modalSlideIn 0.3s ease-out;
}

.modal-header {
    justify-content: space-between; /*Title left, X right */
    padding: 20px;
    border-bottom: 1px solid #334155; 
    background: rgba(30, 41, 59, 0.9); 
    border-top-left-radius: 12px;  
    border-top-right-radius: 12px;
}

.modal-header h3 {
    margin: 0;
    color: #10b981; 
    font-size: 1.4rem; 
}

.modal-close {
    background: none; 
    border: none;    
    font-size: 25px;  
    cursor: pointer;  
    color: #e2e8f0;  
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.modal-close:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.modal-body {
    padding: 20px;
}

.modal-form{
    margin-bottom: 20px;
}

.modal-form .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #334155;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.05); 
    color: #ffffff; 
    font-size: 14px;
}

.modal-form .form-input:focus {
    outline: none; 
    border-color: #10b981; 
    box-shadow: 0 0 0 2px rgba(16, 185, 129, 0.25); 
}


.modal-form .selectEdit {
    width: 100%;
    padding: 10px;
    border: 1px solid #10b981; 
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.05); 
    color: #ffffff; 
    font-size: 14px;
}
.modal-form select.selectEdit option {
    background-color: #16213e;
    color: #e2e8f0;
    padding: 10px;
}
.modal-form select.selectEdit option:checked {
    background-color: #1e293b;
    color: #10b981;
}

.modal-buttons{
    padding-top: 10px;
}

.btn-primary {
    background: linear-gradient(135deg, #059669 0%, #10b981 100%); 
    color: #0f172a; 
    font-weight: bold;
}

.btn-primary:hover {
    background: linear-gradient(135deg, #047857 0%, #0da57e 100%); 
    color: white; 
}

.btn-secondary {
    background-color: #6c757d; 
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.btn-secondary:hover {
    background-color: #545b62; 
    color: white;
}

.btn-modalConfirmDelete{
    margin-left: 10px;
}

@keyframes modalFadeIn {
    from { opacity: 0; } /* Starts invisible */
    to { opacity: 1; }   /* Ends visible */
}

@keyframes modalSlideIn {
    from {
        opacity: 0;
        transform: translateY(-20px); /* 20px upper */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Normal position */
    }
}

